body {
    margin: 0;
    padding: 0;
    width: auto;
    background-image: url(.../static/images/movers_parallax.jpg);
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(62, 60, 103) 0%, rgba(9, 121, 99, 0) 35%, rgba(0, 212, 255, 1) 100%); */
}

.maine {
    display: block;
    width: clamp(480px, 100%, 1200px);
    height: auto;
    margin: 0 auto 0 auto;
    background-color: rgba(51, 183, 146, 0.683);
}

.navbar {
    display: flex;
    background-color: aqua;
}

.navbarIns {
    display: flex;
    width: clamp(480px, 90%, 1200px);
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.logo img{
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(184, 135, 11, 0.534);
}

.contacts {
    display: block;
    width: auto;
    height: 30px;
    background-color: rgba(184, 135, 11, 0.493);
    justify-content: right;
    font-weight: 900;
    color: aliceblue;
}

.contacts a {
    color: red;
}

.headT {
    display: block;
    width: 400px;
    height: 400px;
    background-color: rgba(222, 184, 135, 0.575);
}

.content {
    display: block;
}

.content p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-style: initial;
    font-size: clamp(20px, 5vw, 50px);
    color: rgb(248, 79, 209);
    text-align: center;
}

.content2 {
    text-align: center;
    display: block;
    font-size: 900;
}

.content2 p {
    text-transform: lowercase;
    font-size: clamp(20px, 5vw, 40px);
    color: rgb(162, 31, 209);
}

.carg {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: last baseline;
    color: rgb(162, 31, 209);
}

.mover img {
    max-width: 500px;
}

@media() {}